[user]
	name = Andrea Francia
	email = andrea@andreafrancia.it
[core]
	excludesfile = ~/.cvsignore
[color]
	ui = auto
	diff = auto
	status = auto
	branch = auto
[alias]
	aa = add --all
	st = status
	ci = commit
	unstage = reset HEAD --
