[user]
	name = Andrea Francia
	email = andrea@andreafrancia.it
[core]
	excludesfile = ~/.cvsignore
[color]
	ui = auto
	diff = auto
	status = auto
	branch = auto
[alias]
	aa = add --all
        l = log --graph --pretty=format':%C(yellow)%h%Cblue%d%Creset %s %C(white) %an, %ar%Creset'
	st = status --short
	ci = commit
	unstage = reset HEAD --
        undo-last-commit = reset --soft HEAD~1
[difftool]
	prompt = false
[push]
	default = simple
